@using BugTracker.ViewModels
@using BugTracker.Helper
@model IEnumerable<UserProfileViewModel>
@{
    var roleHelper = new UserRolesHelper();
}
<style>
    .html, body {
        height: auto !important;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        background: #ccc;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-image: url('../../img/BackGround.png');
    }
    .dataTables_wrapper.dataTables_filter{
        right: -150px !important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer; 
    color: #fff !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #fff !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
    .product-status-wrap table td {
        padding: 9px 7px;
        border-top: 1px solid #152036;
        color: #fff;
        font-size: 20px;
        background: #1b2a47;
    }

    .product-status-wrap table th {
        padding: 9px 7px;
        border-top: 1px solid #152036;
        color: #fff;
        font-size: 20px;
        background: #2b426f;
    }
    .product-status-wrap h4 {
    font-size: 35px;
    color: #fff;
    margin-bottom: 20px;
}
    .body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px !important;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        color: antiquewhite;
        
    }
    .dataTables_wrapper .dataTables_length {
    float: left !important;
    }
    .dataTables_wrapper .dataTables_filter {
    float: right !important;
    text-align: right !important;
    }
 
    select {
        color: black;
        background-color: cadetblue;
    }
     /*.h4, h4 {
        font-size: 35px;
        }*/
    h2 {
        color: aqua !important;
    }

    h3 {
        color: midnightblue !important;
    }
</style>

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <br /> <br /> <br /> <br /> <br /> <br />
        
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <div class="col-lg-12 col-md-12" style="font-size: 20px;">
                        @Html.ActionLink("Back to DashBoard", "Dashboard", "Home")
                    </div>
                    <h4 class="title text-center"> User Index</h4>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Avatar")
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DisplayName)
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>

                                    <td>
                                        @*<img src="@user.AvatarUrl" style="width: 30px; height: 30px; border-radius: 40px;" />*@
                                        @if (!string.IsNullOrEmpty(user.AvatarUrl))
                                        {

                                            <img src="@Url.Content(user.AvatarUrl)" />
                                        }
                                        else
                                        {

                                            <img src="@Url.Content("~/Avatars/Avatar1.png")" />
                                        }

                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => user.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.LastName)
                                    </td>
                                    <td>
                                        @roleHelper.ListUserRoles(user.Id).FirstOrDefault()
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            @Html.ActionLink("Manage Role", "ManageUserRole", "Admin", new { userId = user.Id }, null)
                                        }
                                        ||@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                        {
                                            @Html.ActionLink("Manage Projects", "ManageUserProjects", "Admin", new { userId = user.Id }, null)
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
