@model BugTracker.Models.ForgotPasswordViewModel
@{
    Layout = null;
}
@*@{
        ViewBag.Title = "Forgot your password?";
    }
    <style>
        html, body {
            height: 100%;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            background: #ccc;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-image: url('../../img/BackGround.png');
        }

        h3 {
            color: midnightblue !important;
        }
    </style>
    <div class="container-fluid">
        <br /> <br />
        <div class="row">
            <br /> <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br /> <br />
                <h3 class="title text-center">Forgot your Password?</h3>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-offset-2 col-md-10 ">
                        <h4>Enter your Email Address:</h4>

                    </div>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 ">
                            <input type="submit" class="btn btn-primary" value="Email Link" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

<!doctype html>
<html class="no-js" lang="en">
<head>

    <style>
        .html, body {
            height: 100%;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            background: #ccc;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-image: url('../../img/BackGround.png') !important;
            }
        h3 {
            font-family: 'Bookman Old Style';
            color: midnightblue !important;
        }
        .hpanel .panel-body {
            background-color: azure !important;
        }
    </style>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DeBug-Me</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/BugIcon2.png">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS
        ============================================ -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- owl.carousel CSS
        ============================================ -->
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/owl.theme.css" rel="stylesheet" />
    <link href="~/css/owl.transitions.css" rel="stylesheet" />
    <!-- animate CSS
        ============================================ -->
    <link href="~/css/animate.css" rel="stylesheet" />
    <!-- normalize CSS
        ============================================ -->
    <link href="~/css/normalize.css" rel="stylesheet" />
    <!-- main CSS
        ============================================ -->
    <link href="~/css/main.css" rel="stylesheet" />
    <!-- morrisjs CSS
        ============================================ -->
    @*<link href="~/css/morrisjs/morris.css" rel="stylesheet" />*@
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link href="~/css/scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- metisMenu CSS
        ============================================ -->
    <link href="~/css/metisMenu/metisMenu-vertical.css" rel="stylesheet" />
    <link href="~/css/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <!-- forms CSS
        ============================================ -->
    <link href="~/css/form/all-type-forms.css" rel="stylesheet" />
    <!-- style CSS
        ============================================ -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <!-- responsive CSS
        ============================================ -->
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <!-- modernizr JS
        ============================================ -->
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <br /><br /><br /><br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="back-link back-backend">
                    <a href="@Url.Action("Login","Account")" class="btn btn-primary">Back to Login </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-md-4 col-sm-4 col-xs-12">
                <div class="text-center ps-recovered">
                    <h3>PASSWORD RECOVER</h3>
                    <p>Please fill the form to recover your password</p>
                </div>
                <div class="hpanel">
                    <div class="panel-body poss-recover">
                        <p>
                            Enter your email address and your password will be reset and emailed to you.
                        </p>
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 ">
                                    <input type="submit" class="btn btn-success" value="Reset Passwword" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
        </div>

    </div>
    @*<!-- jquery
    ============================================ -->

    <script src="~/js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS       -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- wow JS ================== -->
    <script src="~/js/wow.min.js"></script>
    <!-- price-slider JS ===================== -->
    <script src="~/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
    ============================================ -->
    <script src="~/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS       ============ -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- sticky JS      ======== -->
    <script src="~/js/jquery.sticky.js"></script>
    <!-- scrollUp JS       ================ -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS        ===== -->
    <script src="~/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS       ====== -->
    <script src="~/js/metisMenu/metisMenu-active.js"></script>
    <script src="~/js/metisMenu/metisMenu.min.js"></script>
    <!-- tab JS        ======== -->
    <script src="~/js/tab.js"></script>
    <!-- icheck JS       = -->
    <script src="~/js/icheck/icheck.min.js"></script>
    <script src="~/js/icheck/icheck-active.js"></script>
    <!-- plugins JS        ========== -->
    <script src="~/js/plugins.js"></script>
    <!-- main JS        =========== -->
    <script src="~/js/main.js"></script>*@
</body>

</html>
